# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environment
venv/

# Environment variables
.env

# Cache
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS/Windows files
.DS_Store
Thumbs.db
